<header class="masthead mb-auto">
    <div class="inner">
        <h3 class="masthead-brand">Fox Award</h3>
        <nav class="nav nav-masthead justify-content-center" id="navigation">
        <a class="nav-link <% if(!where){ %>active<% } %>" href="/">Home</a>
        <% if(!logged) { %>
            <a class="nav-link <% if(where === 'register'){ %>active<% } %>" href="/voter/register">Register</a>
            <a class="nav-link <% if(where === 'login'){ %>active<% } %>" href="/voter/login">Login</a>
            <% } else {  %>
            <a class="nav-link <% if(where === 'movies'){ %>active<% } %>" href="/movies">Movies</a>
            <a class="nav-link <% if(where === 'voter'){ %>active<% } %>" href="/voter/edit">Voter</a>
        <% } %>
        </nav>
    </div>
</header>